@model MMS_Inventory.ViewModels.LoginViewModells
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-panel">
    <div style="padding:25px" class="bg-orange">Login With Email Account</div>
    @using (Html.BeginForm("ChangePassword", null, FormMethod.Post, new { role = "form", id = "FormUser", enctype = "multipart/form-data" }))
    {
        <div class="body bg-gray">            
            
        </div>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input id="Submit1" class="btn btn-success" type="submit" value="Change Sigle Sign On">
            </div>
        </div>
        
    }
</div>



