
@model MMS_Inventory.ViewModels.LoginViewModells
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "VerifyAccount";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


@using (Html.BeginForm("VerifyAccount", "Login"))
{
    @Html.AntiForgeryToken()

    <div class="login-panel">
       
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <h4>Enter Verification Code </h4>
                @Html.TextBoxFor(model => model.OTP, new { @class = "form-control", @maxlength = 20, @autocomplete = "off", @Placeholder = "Enter Verification Code from Your Email Address" })
                @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input id="Submit1" class="btn btn-success" type="submit" value="Verify">
            </div>
        </div>
        <div class="form-group"><br /><br />
            <div class="col-md-offset-0 col-md-10">
                @if (ViewBag.Message != null)
                {
                    <p class="alert alert-danger" id="successMessage">@ViewBag.Message</p>
                }
            </div>
        </div>
    </div>
}