@model IEnumerable<MMS.Models.LoginViewModells>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_BestLayout.cshtml";
}

<div class="card">
    <div class="card-body col-md-6">
        <h5>Welcome!!</h5>
    </div>
</div>
